@view-transition {
    navigation: auto;
}

// =======================
// general styles
// =======================
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; // all webkit
    -moz-osx-font-smoothing: grayscale; // firefox
    font-feature-settings: "liga"; // ie
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    background: var(--sf);
    font-family: var(--sans);
    font-size: var(--fontsize);
    line-height: var(--lineheight);
    color: var(--s2);
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    @media (min-width: $bp-colossal) {
        display: flex;
        flex-flow: row wrap;
    }
    @media print {
        font-size: 70%;
    }
}

header,
footer,
main,
nav {
    &.container {
        width: 100%;
        max-width: $bp-colossal;
        height: auto;
        margin: 0 auto;
        padding: 0.5rem 1rem;
        > .inner {
            margin: 0 auto;
            padding: 0;
        }
    }
}

#header {
    position: relative;
    max-width: 100%;
    min-height: 100dvh;
    background-color: var(--s0);
    background-image: url(https://images.pexels.com/photos/221387/pexels-photo-221387.jpeg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: var(--sf);
    overflow: hidden;
    isolation: isolate;
    > .inner {
        position: relative;
        padding: 1rem;
        text-wrap: balance;
        max-width: 70ch;
        z-index: 1;
        text-shadow: 0.25rem 0.25rem 0.25rem var(--s0);
        &:before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            background-color: rgba(#000, 0.65);
            filter: blur(0.25em);
        }
    }
}

section {
    padding-block-start: 3.5rem;
    min-height: 35dvh;
}

aside {
    margin: 0;
    padding: 0;
}
