@view-transition {
    navigation: auto;
}

// =======================
// general styles
// =======================
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; // all webkit
    -moz-osx-font-smoothing: grayscale; // firefox
    font-feature-settings: "liga"; // ie
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    background: var(--sf);
    background: light-dark(var(--sf), var(--s1));
    font-family: var(--sans);
    font-size: var(--fontsize);
    line-height: var(--lineheight);
    color: var(--s2);
    color: light-dark(var(--s2), var(--s3));
    color-scheme: light dark; // user prefrences
    accent-color: var(--m2);
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    @media print {
        font-size: 70%;
    }
}

header,
footer,
main,
nav {
    &.container {
        width: 100%;
        max-width: $bp-colossal;
        margin: 0 auto;
        padding: 0.5rem 1rem;
        > .inner {
            margin: 0 auto;
            padding: 0;
        }
    }
}

#header {
    position: relative;
    max-width: 100%;
    min-height: 100dvh;
    background-color: var(--s0);
    background-image: url(../img/landscape.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: var(--sf);
    isolation: isolate;

    // // they see me scrolling (parallax-ish)
    // scroll-timeline-name: --hero;
    // overflow: scroll;
    // &::-webkit-scrollbar {
    //     display: none;
    // }
    // &:after {
    //     content: "";
    //     position: absolute;
    //     inset: 0;
    //     height: 101dvh;
    //     background-image: url(https://images.pexels.com/photos/221387/pexels-photo-221387.jpeg);
    //     background-size: cover;
    //     background-position: center center;
    //     background-attachment: fixed;
    //     animation: action linear;
    //     animation-timeline: --hero;
    //     transition: all ease;
    //     z-index: -1;
    // }

    > .inner {
        height: 100%;
        display: grid;
        place-content: center;

        > .inner-wrapper {
            position: relative;
            padding: 1rem;
            text-wrap: balance;
            max-width: 70ch;
            z-index: 1;
            text-shadow: 0.05rem 0.05rem 0.05rem var(--s0);
            &:before {
                content: "";
                position: absolute;
                inset: 0;
                z-index: -1;
                background: var(--s0);
                opacity: 0.5;
                filter: blur(0.25em);
            }
        }
    }
}

@keyframes action {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 1.5dvh);
    }
}
