@view-transition {
    navigation: auto;
}

// =======================
// general styles
// =======================
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; // all webkit
    -moz-osx-font-smoothing: grayscale; // firefox
    font-feature-settings: "liga"; // ie
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    background: var(--sf);
    font-family: var(--sans);
    font-size: var(--fontsize);
    line-height: var(--lineheight);
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

body {
    width: 100%;
    max-width: var(--bp-colossal);
    margin: 0 auto;
    padding: 0;
    color: var(--s1);
    @media (min-width: var(--bp-large)) {
        display: flex;
        flex-flow: row wrap;
    }
    @media print {
        font-size: 70%;
    }
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: inset 0 -1px 0 var(--s3);
    @media print {
        box-shadow: none;
        width: 100%;
    }
}

footer {
    margin: 0;
    padding: 1rem 0;
    color: var(--s2);
    box-shadow: inset 0 1px 0 var(--s3);
    font-weight: 600;
    @media print {
        box-shadow: none;
        width: 100%;
        clear: both;
    }
    @media (min-width: var(--bp-large)) {
        flex: 1 0 100%;
        font-size: 95%;
    }
}

main {
    margin: 0;
    padding: 0;
    width: 100%;
}

section {
    min-height: 50vh;
    margin: 0;
    padding: 0;
}

aside {
    margin: 0;
    padding: 0;
}
