// navigation
// ======================================
nav {
    margin: 0;
    padding: 0;
    width: 100%;

    @media print {
        display: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 0 0.5rem;

        > li {
            margin: 0;
            padding: 0;

            &.current {
                font-weight: 600;
            }

            &::marker {
                content: "";
            }
        }
    }

    a {
        display: block;
        padding: 0.5rem;
        margin: 0;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

// primary
// ======================================
// nav#primary {
//     position: sticky;
//     top: 0;
//     background-color: var(--sf);
//     max-width: 100%;
//     isolation: isolate;
//     z-index: 1;
//     box-shadow: 0 8px 16px rgba(0, 0, 0, calc(0.12 * var(--shadow-strength)));
//     animation: scroll-shadow linear forwards;
//     animation-timeline: view();
//     animation-range-start: entry 5%;
//     animation-range-end: exit 5% entry 100%; //entry 15% exit 95%;
// }

// @keyframes scroll-shadow {
//     from {
//         box-shadow: hsla(0 0% 0% / 0) 0 0 0;
//         background: red;
//     }
//     to {
//         box-shadow: var(--s1) 0 0.5rem 1rem;
//         background: blue;
//     }
// }

nav#primary {
    position: sticky;
    top: 0;
    background-color: var(--sf);
    max-width: 100%;
    isolation: isolate;
    z-index: 1;
    animation-name: scroll-shadow;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-timeline: view(block);
    animation-range: entry 0 entry 100dvh;
}

@keyframes scroll-shadow {
    from {
        box-shadow: hsla(0 0% 0% / 0) 0 0 0;
    }
    to {
        box-shadow: hsla(0 0% 0% / 0.75) 0 0 1rem;
    }
}

/* Optional accessibility: minimize motion for users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
    nav#primary {
        animation: none;
    }
}

// back to top
// ======================================
nav#back-to-top {
    all: unset;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    transition: all var(--transtime) var(--transeffect);

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: cover 25% cover 35%;
    a {
        display: block;
        padding: 0.5rem;
        background-color: var(--m1);
        color: var(--sf);
        text-decoration: none;
        border-radius: 0.25rem;

        &:before {
            content: "\25B3";
            font-size: 0.75rem;
            margin-inline-end: 0.25rem;
        }

        &:hover,
        &:focus {
            background-color: var(--m2);
            color: var(--s1);
        }
    }
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
