nav {
    margin: 0;
    padding: 0;
    width: 100%;

    @media print {
        display: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.5rem;

        @media (min-width: var(--bp-large)) {
            gap: 1rem;
        }

        > li {
            margin: 0;
            padding: 0;

            &.current {
                font-weight: 600;
            }

            &::marker {
                content: "";
            }
        }
    }

    a {
        display: block;
        padding: 0.5rem;
        margin: 0;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}
