// progress bar
// ======================================
.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 0.5rem;
    background: var(--m2);
    animation: grow-progress linear;
    animation-timeline: scroll();
    transition: all var(--transtime) var(--transeffect);
    z-index: 1;
}

@keyframes grow-progress {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
